.socials .ico-circle {
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
    border-radius: 50%;
    line-height: 1.4;
    margin: 0 15px 10px 0;
    color: #ec7f37 ;
    box-shadow: 0 0 0 3px #ec7f37 ;
    transition: all 500ms ease;
    display: inline-block;
    text-align: center;
}

.socials .ico-circle:hover {
    background-color: #ec7f37;
    color: #f5f5f5;
    box-shadow: 0 0 0 3px #e99156;
    transition: all 500ms ease;
  }

.list-ico span{
    margin-left: 5px;
}

.list-ico a{
    color: #ffab40;
}

.send-msg-btn{
    margin-top: 10px;
    background-color: #ec7f37;
}